[Unit]
Description=Accelize container service
After=accelize_drm.service

[Service]
{% if rootless %}
User=appuser
ExecStart=/usr/bin/podman run --name accelize_container --rm --userns=keep-id --env FPGA_SLOTS={{ fpga_slots|join(',') }} {{ firewall_rules | publish_ports(redirect=True) }} {{ fpga_devices_list["stdout"] | publish_devices }} {{ podman_image_info["image"][0]["Id"] }}
ExecStop=/usr/bin/podman stop accelize_container
{% else %}
ExecStart=/usr/bin/docker run --name accelize_container --rm --user 1001:1001 --env FPGA_SLOTS={{ fpga_slots|join(',') }} {{ firewall_rules | publish_ports }} {{ fpga_devices_list["stdout"] | publish_devices }} {{ docker_image_info["image"]["Id"] }}
ExecStop=/usr/bin/docker stop accelize_container
{% endif %}

Restart=on-failure

[Install]
WantedBy=default.target
